Bienvenue sur mon site de cubing ! Vous pourrez y trouver quantité de méthodes, algorithmes, exemples de résolutions, etc... ; tout
ceci en fonction de votre niveau.

Si vous êtes débutant(e), cette méthode vous permettra de vaincre la cube !
